* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("./media/BK.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Helvetica", Arial, sans-serif;
}
  

.nav ul{
    /*border: 1px solid rgb(10, 10, 10);*/
    list-style-type: none;
    display: inline;
    /*Inline om du skal ha nav menyen vedsiden av en logo*/
    /*Bruk ALLTID block eller inline. block tar all plassen sen kan i bredden, ihvertfall all den plassen den har tilgjenngelig.
    inline tar bare den plassen den trenger. */
    padding-left: 0;
    width: 200px;
    /*lar deg sette bredden  på inline block*/
    position: relative;
    right: 50px;
    width: 350px;
    height: 50px;
    /*med block */
}
.nav li{
    /*Styler liste elementene, det som er knapper*/
    border: 1px solid rgb(225, 220, 220);
    float: left;
    margin-right: 10px; /*gir luft mellom elementene*/
    background-color: #000;
}
/*styler lenkene dine.*/
.nav li a{
    text-decoration: none;
    width: 100px;
    display: inline-block;
    color: #fff;
    padding: 2px 5px;
    border: 1px solid black;
    text-align: center;
}

/*Tar kunn det siste ele og fjerner margen, noe vi ofte ønsker.*/
.nav li :last-child{
    margin-right: 0;
}

/*Dette er til home knappen, dette er en generell regel. om vi har klassen activ skal denne slå inn*/
.nav li a.active{
background-color: rgb(129, 129, 129);
color: white;
border-color: rgb(10, 10, 10);/*Et lite triks.*/
/*bakrundsfarge og collor skal alltid settes sammen*/
}

.nav li a:hover{
    background-color: #fff;
    color: #000;
}

.nav.special{
    /*float: right;*/
    background-color: blue;

}

h1{
    margin-bottom: 6px;
    clear: both;
    text-align: center;
    margin-top: 35%;
    /*Selvom dette kommer etter en flyt skal jeg oppføre meg soom om 
    den ikke gjør det. MÅ SETTES PÅ DET FØRSTE ELE SOM KOMMER ETTER EN FLOAT*/
}

h2{
  margin: 20px;
}

p{/*margin-bottom: 20px;*/
   margin: 20px;
}

/*h1,h2,h3 og p gjør at du lettere kan kontrollere margen inni. altså marin- bottom- */

* { box-sizing: border-box; margin: 0; padding: 0; }
div[class^=test] { clear: both; }
/*dette betyr klasse som begynner med tekst. */

figure.polaroid {
  background-color: white;
  color: black;
  border: 1px solid gray;
  width: 25%; 
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.15); 
  margin-left: 60px;
  margin-top: 20px;
}
figure.polaroid > img { 
  max-width: 100%; padding: 20px; 
} 
figure.polaroid > figcaption {
  text-align: center; 
  padding: 22px 20px 42px 20px;
}

div.test-1 figure.polaroid {
  width: 25%;
  float: left;
}

/*Kontakt oss skjema*/

.kontakt-skjema {
  margin: 30px auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #9e9d9d;
  border-radius: 1em;
}

.kontakt-skjema ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.kontakt-skjema li {
  margin-top: 1em;
  display: flex; /* Bruk flex for å plassere etiketten og inndatafeltet i samme linje */
  align-items: center; /* Sentrer elementene vertikalt */
}

.kontakt-skjema label {
  width: 90px;
  text-align: right;
  margin-right: 10px; /* Legg til litt høyremarg for å skape plass mellom etiketten og inndatafeltet */
}

.kontakt-skjema label::after {
  content: ": ";
}

.kontakt-skjema input,
.kontakt-skjema textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  transition: border 1s, background-color 1s;
}

.kontakt-skjema input:focus,
.kontakt-skjema textarea:focus {
  border-color: #00f;
  background-color: rgb(218, 213, 206);
}

.kontakt-skjema textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.kontakt-skjema .button {
  text-align: right; /* Juster knappen til høyre */
}

.kontakt-skjema button {
  margin-left: 10px; /* Legg til litt venstremarg for å skape plass mellom knappen og inndatafeltet */
}

